/tmp
/log
/public/system
/.bundle
/vencor/bundle
.sass-cache
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
*.log
*.sql
*.sqlite
.DS_Store
.DS_Store?
._*
*.un~
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
config/application.yml
config/mongodb.yml
/public/uploads
