[push]
	default = matching

[core]
	excludesfile = ~/.gitignore

[filter "media"]
	clean = git-media-clean %f
	smudge = git-media-smudge %f

[alias]
        co = checkout
        ci = commit
        st = status
        br = branch
        hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
        type = cat-file -t
        dump = cat-file -p
[user]
	name = Hendrik Roth
	email = mail@henn1nk.com
[github]
	user = henn1nk
